<footer class="bg-light text-center text-white foot">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
			<a
			  class="btn text-white btn-floating m-1"
			  style="background-color: #333333;"
			  href="https://discord.gg/JfbK3bS"
			  role="button"
			  ><i class="fab fa-discord"></i
			></a><!-- Facebook -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #3b5998;"
		  href="https://www.facebook.com/pycontributors"
		  role="button"
		  ><i class="fab fa-facebook-f"></i
		></a><!-- Facebook -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #55acee;"
		  href="https://twitter.com/pycontributors"
		  role="button"
		  ><i class="fab fa-twitter"></i
		></a><!-- Twitter -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #0082ca;"
		  href="https://www.linkedin.com/company/pycontributors"
		  role="button"
		  ><i class="fab fa-linkedin-in"></i
		></a><!-- Linkedin -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #333333;"
		  href="https://github.com/py-contributors/"
		  role="button"
		  ><i class="fab fa-github"></i
		></a><!-- Github -->
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
	<!-- Copyright -->
	<div class="text-center text-dark p-3" style="background-color: rgba(255, 255, 255, 0.2);">
	  © 2023 Copyright: @
	  <a class="text-primary" href="/">Py Contributors</a>
	  <!-- powered by -->
	  <a class="text-primary" href="https://walkinthewild.co.in/" target="_blank">Sponsored by Walk In The Wild</a>
	</div>
	<!-- Copyright -->
  </footer>
