<footer class="bg-light text-center text-white">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #3b5998;"
		  href="https://www.facebook.com/pycontributors"
		  role="button"
		  ><i class="fab fa-facebook-f"></i
		></a><!-- Facebook -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #55acee;"
		  href="https://twitter.com/pycontributors"
		  role="button"
		  ><i class="fab fa-twitter"></i
		></a><!-- Twitter -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #0082ca;"
		  href="#!"
		  role="button"
		  ><i class="fab fa-linkedin-in"></i
		></a><!-- Linkedin -->
		<a
		  class="btn text-white btn-floating m-1"
		  style="background-color: #333333;"
		  href="https://github.com/py-contributors/"
		  role="button"
		  ><i class="fab fa-github"></i
		></a><!-- Github -->
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2023 Copyright: @
	  <a class="text-white" href="/">Py Contributors</a>
	</div>
	<!-- Copyright -->
  </footer>