<!-- Footer -->
<footer class="page-footer mt-4 text-center">
<div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
    <div class="box-sm purple"></div>
</div>
	
	<span>Made With <i class="fas fa-heart fa-2x" style="color: crimson;"></i></span>
    <!-- Copyright -->
<div class="footer-copyright pb-3 text-dark">© 2020 Copyright:
      <a class="text-dark" href="https://github.com/py-contributors">PyContributors</a>
</div>			
</footer>