
<nav class="navbar navbar-expand-lg navbar-dark">				
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
		<div class="container">
    <div class="ml-auto mr-4">
      <ul class="navbar-nav">
        {% if page.active == "home" %}
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    {% endif %}
    
    {% if page.active == "contributors" %}
        <li class="nav-item active"><a class="nav-link" href="/contributors/index.html">Contributors</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/contributors/index.html">Contributors</a></li>
    {% endif %}
		  </ul>
		  </div>
		<div class="navbar-header">
		  <a class="navbar-brand" href="/"><img src="/assets/img/logo/logo.png" style="height: 70px; width: 70px; background-color: white;" class="mr-3">Py Contributors</a>
			</div>
    
         <ul class="navbar-nav mr-auto ml-4">

    {% if page.active == "updates" %}
        <li class="nav-item active"><a class="nav-link" href="/updates/index.html">Updates</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/updates/index.html">Updates</a></li>
    {% endif %}

    {% if page.active == "developers" %}
        <li class="nav-item active"><a class="nav-link" href="/developers/index.html">Developers</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/developers/index.html">Developers</a></li>
    {% endif %}			  
    </ul>
		</div>
	</div>
  </nav>