body {
    background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Oswald', sans-serif !important;
	font-weight:400;
   }
.card-img-top
{
	height:230px;
}
.card {
    height: 485px;
	box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .2), -6px 0px 10px 2px rgba(0, 0, 0, .2);
	border-radius: .25rem;
}
.navbar-brand {
    font-size: 2.3rem !important;
}
blockquote
{
	box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .2), -6px 0px 10px 2px rgba(0, 0, 0, .2);
	border-radius: .25rem;
}
h1,h2,h3,h4,h5
{
	font-family: 'Passion One', cursive !important;
	font-weight:700;
}
nav {
    font-family: 'Passion One', cursive !important;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.jumbotron
{
	background-color: #257bcc !important; 
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23257bcc' width='11' height='11'/%3E%3Crect fill='%23167ece' x='10' width='11' height='11'/%3E%3Crect fill='%230081cf' y='10' width='11' height='11'/%3E%3Crect fill='%230084d0' x='20' width='11' height='11'/%3E%3Crect fill='%230087d1' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23008ad2' y='20' width='11' height='11'/%3E%3Crect fill='%23008dd2' x='30' width='11' height='11'/%3E%3Crect fill='%23008fd3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%230092d3' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230095d3' y='30' width='11' height='11'/%3E%3Crect fill='%230097d3' x='40' width='11' height='11'/%3E%3Crect fill='%23009ad2' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23009cd2' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23009fd1' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2300a1d1' y='40' width='11' height='11'/%3E%3Crect fill='%2300a4d0' x='50' width='11' height='11'/%3E%3Crect fill='%2300a6cf' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2300a8ce' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2300abcd' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2300adcb' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2300afca' y='50' width='11' height='11'/%3E%3Crect fill='%2300b1c9' x='60' width='11' height='11'/%3E%3Crect fill='%2300b3c7' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2300b6c6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2300b8c5' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2300bac3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2303bcc2' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%231dbec0' x='70' width='11' height='11'/%3E%3Crect fill='%232bc0be' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2336c1bd' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2340c3bc' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2348c5ba' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2351c7b9' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2358c9b7' x='80' width='11' height='11'/%3E%3Crect fill='%235fcab6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2367ccb5' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%236dceb4' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2374d0b3' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%237ad1b2' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2381d3b1' x='90' width='11' height='11'/%3E%3Crect fill='%2387d4b0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%238dd6af' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2393d7af' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2399d9ae' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%239fdaae' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23a5dcae' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23aaddae' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23b0deae' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23b6e0ae' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23bbe1af' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23c0e2af' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23c6e4b0' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23cbe5b1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23d0e6b2' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23d5e8b3' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23dbe9b4' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e0eab6' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e4ebb7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23e9edb9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E") !important;
background-attachment: fixed !important;
}


.navbar-brand {
    font-size: 2.3rem;
}