<!-- Card -->
<div class="card shadow">				
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/project image/hacktoberfest.jpeg"
        alt="Card image cap">
      <a href="https://github.com/Py-Contributors/Hacktoberfest-2020">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>				
    <!-- Card content -->
    <div class="card-body">				
      <!-- Title -->
      <h4 class="card-title">Hacktoberfest-2020</h4>
      <!-- Text -->
      <p class="card-text">Hacktoberfest is a month long virtual festival event to celebrate open source contributions.easiest way to get into open source!</p>
      <!-- Button -->
      <p class="text-weight-bold"> Maintainer :- <a href="https://github.com/">Deepak Raj</a></p>
      <a href="https://github.com/Py-Contributors/Hacktoberfest-2020" class="btn btn-primary">Fork On Github</a>				
    </div>				
  </div>	<!-- Card -->			