<!-- Card -->
<div class="card shadow">
    <!-- Card image -->
    <div class="view overlay">
    <img class="card-img-top" height="200px" src="/assets/img/project image/student_performance_prediction.jpg"
        alt="Card image cap">
    <a href="https://github.com/Py-Contributors/Student-s-Perform-Prediction">
        <div class="mask rgba-white-slight"></div>
    </a>
    </div>				
    <!-- Card content -->
    <div class="card-body">				
    <!-- Title -->
    <h4 class="card-title">Student Performance Prediction</h4>
    <!-- Text -->
    <p class="card-text">Students’ Performance Prediction Using Machine Learning Approach</p>
    <!-- Button -->
    <p class="text-weight-bold"> Maintainer :- <a href="https://github.com/shubham5351">Shubham Pawar</a></p>
    <a href="https://github.com/Py-Contributors/Student-s-Perform-Prediction" class="btn btn-primary">Fork On Github</a>				
    </div>				
</div><!-- Card -->