<!-- Card -->
<div class="card mt-2 p-2">
    <h3 class="text-center"> <a href="{{ post.get_absolute_url }}">Performance Prediction</a></h3>
    <p class="text-dark text-center my-2">
      <i class="fa fa-calendar"></i> 18/09/2020
      <i class="fa fa-user mx-1"></i> <a href="https://github.com/shubham5351" target="_blank" >Shubham Pawar</a>
    </p>
      <img class="img-fluid shadow" style="width: 100%;" src="/assets/img/project image/student_performance_prediction.jpg" alt="student_performance_prediction">
    <div class="container mt-1">
      <p class="text-dark" style="font-size: 17px">Students’ Performance Prediction Web Application Using Machine Learning Approach</p>
      <a href="https://github.com/Py-Contributors/Student-s-Perform-Prediction" class="btn btn-primary">Check On Github</a>
</div>
</div>
