---
layout : default
title : updates | PyContributors
description : Stay updates with upcoming notifications from Pycontributors
image : https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
active : updates
---

<div class="jumbotron text-dark text-center p-4">
	<h1><strong>Updates from PyContributors</strong></h1>
</div>

  <div class="row mb-5">
      <div class="col-md-7">
        {% for post in paginator.posts %}
        <div class="bg-white text-dark text-center bdrRadius shadow-lg">
          <h2 class="bg-dark p-2 text-white txet-center"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <div class="card-body">
          <!-- add author and upload date -->
          <p class="card-text"> Author : {{post.author}} | Date : {{post.date | date: "%B %d, %Y"}}</p>

        <p class="p-1">{{post.descriptions}} <a href="https://hacktoberfest.digitalocean.com/">Here</a>
          </p>
          <img class="img-fluid" src="{{post.image}}" alt="hacktoberfest">
          <!-- READ MORE BUTTON -->
          <a href="{{post.url | prepend: site.baseurl}}" class="btn btn-primary mt-4">Read More</a>
        </div>
      </div><br>
    {% endfor %}
    </div>

  <div class="col-md-5">
    <div class="text-center bdrRadius shadow-lg">
      <div class="card-header bg-dark text-white p-2">
       <h3 class="mb-0">Blog</h3>
      </div>
      <ul class="list-group list-group-flush">
        {% for post in paginator.posts %}
		  <li class="list-group-item">
			  <span class="badge badge-danger badge-pill p-2 mr-2 animate__animated animate__pulse animate__infinite">  New !! </span>
		  <a class="mt-2" href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
          </li>
        {% endfor %}
				<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

				  {% for page in (2..paginator.total_pages) %}
				    {% if page == paginator.page %}
				      <span class="webjeda">{{ page }}</span>
				    {% else %}
				      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				    {% endif %}
				  {% endfor %}

				  {% if paginator.next_page %}
				    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				  {% else %}
				    <span>Next &raquo;</span>
				  {% endif %}
				</div>
				{% endif %}
        <li class="list-group-item">Keep an eye out.</li>
      </ul>
    </div>
  </div>
</div> <!--Row Div Close-->
<style>
  .pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

  .pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }</style>
